@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&subset=latin');


body {
  font-family: Asap, -apple-system, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Asap, -apple-system, "Helvetica Neue", sans-serif;
}

.site-title, h1 {
    font-size: 1.7em
}

h2 {
    font-size: 1.5em
}

.emphasis, h3, h4, h5, h6 {
    font-size: 1.25em;
    font-weight: 500;
    color: rgba(38, 50, 56, 0.75);
}

.list-title,
.home-section-title,
h4 {
    font-size: 1.10em;
}

h5 {
    font-size: 1.0em;
}

h6 {
    font-size: .75em;
}

a, .entry-content a:visited {
  color: #428bca;
  text-decoration: none;
  border-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f2f2f2;
}

th {
  color: #000;
  background-color: #f2f2f2;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

code.remark-inline-code {
  background: #f2f2f2;
  padding: 2px 6px;
  border-radius: 3px;
}

code, kbd, tt, var {
  font-family: "Source Code Pro", Consolas, Monaco, "Andale Mono", monospace;
}

kbd {
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  font: normal .85em/1;
  text-align: center;
  text-decoration: none;
  border-radius: .3em;
  border: none;
  cursor: default;
  user-select: none;
  background: rgb(80, 80, 80);
  background: linear-gradient(to bottom, rgb(60, 60, 60), rgb(80, 80, 80));
  color: rgb(250, 250, 250);
  text-shadow: -1px -1px 0 rgb(70, 70, 70);
  box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

.preload * {
  animation-duration: 1ms !important;
}

.animated {
  animation-duration: 0.5s;
}

.hljs-default .hljs {
  background: #f2f2f2;
  border-radius: 3px;
}

code.hljs, code.remark-code {
  background: #f2f2f2;
  padding: .5em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.remark-container {
  background-color: #fff;
}

.remark-slide-content {
  color: #000;
  background-color: #fff;
  font-size: 25px;
}

.remark-slide-content h1 {
  font-size: 50px;
}

.remark-slide-scaler {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro';
  font-size: 19pt;
}

.remark-slide-number {
  opacity: 0.1;
}

#terminal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0.98;
  animation-duration: 0.3s;
  animation-timing: ease-out;
}

#terminal iframe {
  width: 100%;
  height: 95vh;
  padding: 0;
  margin: 0;
  border: none;
  shadow: none;
}

#terminal a.btn {
  display: inline-block;
  float: left;
  width: 50%;
  height: 5vh;
  margin: 0;
  background: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: -5px;
  padding-top: 6px;
}
