<!DOCTYPE html>
<html>
  <head>
    <title>Tech Talk</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/animate.min.css" />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/overrides.css" />
  </head>
  <body class="preload">
    <textarea id="source">
{{ .Prefix }}
{{ .Markdown }}
    </textarea>
    <div id="terminal" class="animated slideOutUp">
      <iframe id="terminal-frame" seamless src="/static/wetty/index.html"></iframe>
      <a class="btn close">Close</a>
      <a class="btn reconnect">Reconnect</a>
    </div>
    <script type="text/javascript" src="/static/remark.min.js"></script>
    <script type="text/javascript" src="/static/MathJax/MathJax.js?config=TeX-MML-AM_CHTML&delayStartupUntil=configured"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>
